@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url('https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000') no-repeat center center/cover;
    font-family: 'Poppins' , sans-serif;
    height: 100vh;
    /* align-items: center;
    justify-content: center; */
    /* display: flex; */
}

#containerbg{
    margin: auto;
    padding: 10px;
}

.cover{
      width: 900px;
      height: 400px;
      /*background: #000;*/
      margin-top: 50px;
      display: flex;
}
.box{
    margin: 30px;
    width: 600px;
    height: 430px;
    
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.imj{
    width: 300px;
    height: 200px;
    display: flex;
}